* {
  padding: 0;
  margin: 0;
}
#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
}
#character {
  width: 20px;
  height: 50px;
  /*background-color: greenyellow;*/
  background: url(character.png) 0 0;
  position: relative;
  top: 150px;
  left: 50px;
}
#points {
  position: absolute;
  background-color: grey;
  top: 60px;
  left: 50px;
  width: 35px;
  height: 35px;
  border: 1px solid black;
}
.animate {
  animation: jump 500ms;
}
#block {
  width: 20px;
  height: 20px;
  /*background-color: red;*/
  background: url(enemy.png) 0 0;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1s infinite linear;
}
@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
  }
}
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}
#timerContainer {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  width:700px;
  margin:20px auto;
  min-height: 60px;
  border-top:0px;
}
.timer, .reset {
  float:left;
  width: 54%;
  padding: 20px 0;
  font-size: 24px;
  text-align:center;
  color: #fff;
  background: #A90000;
  cursor: pointer
}
.reset {
  background: #550000;
  color: white;
  width:14.9%;
  border-left: 1px solid #990000;
}
.reset:hover {
  background: #CC0000;
}
.lighter {
  background: #CC0000
}