p {
  color: white;
}

body {
  background-color: black;
}
* {
  padding: 0;
  margin: 0;
}
#game {
  width: 500px;
  height: 200px;
  margin-left: 100px;
  left: 100px;
  border: 1px solid purple;
  margin: auto;
  display: block;
  background-image: url("background.png");
}
#all {

  border: 2px solid grey;
}
#character {
  width: 20px;
  height: 50px;
  /*background-color: greenyellow;*/
  background: url(character.png) 0 0;
  position: relative;
  top: 150px;
  left: 50px;
}
#points {
  position: absolute;
  background-color: grey;
  top: 60px;
  left: 50px;
  width: 35px;
  height: 35px;
  border: 1px solid black;
}
.animate {
  animation: jump 500ms;
}
#block {
  width: 20px;
  height: 20px;
  /*background-color: red;*/
  background: url(enemy.png) 0 0;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1s infinite linear;
}
@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: 0px;
  }
}
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}
#jumpB {
  position: absolute;
  top:30px;
  width: 75px;
  height: 75px;
}
#restartB {
  position: absolute;
  top: 135px;
  width: 75px;
  height: 75px;
}