#platformer {
    border: solid black 1px;
    width: 400px;
    height: 200px;
}
* {
    margin: 0px;
    padding: 0px;
}
#character {
    background-color: red;
    position: absolute;
    top: 120px;
    left: 10px;
    width: 20px;
    height: 80px;
}
.bru {
    animation: idek 500ms;
}
@keyframes idek {
    0% {
      top: 120px;
    }
    30% {
      top: 70px;
    }
    70% {
      top: 70px;
    }
    100% {
      top: 120px;
    }
}